In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Resources/m160-hw-dataset.csv',encoding = 'utf-8')
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [16]:
#Checking the null values
null_value_rows = df[df.isnull().any(axis = 1)]
print(f'There are total of {len(null_value_rows)} rows with a null value in the dataset')
df.isnull().sum()

There are total of 53485 rows with a null value in the dataset

Loan ID                             0
Customer ID                         0
Loan Status                         0
Current Loan Amount                 0
Term                                0
Credit Score                    19154
Annual Income                   19154
Years in current job             3382
Home Ownership                      0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    43533
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 2
Bankruptcies                      176
Tax Liens                           8
dtype: int64

In [12]:
#Dropping the null values
clean_df = df.dropna()

#Checking the remaining null values
print(clean_df.isnull().sum())
print('\n')

#Checking the size of the data
print(f'This data now contains {clean_df.shape[0]} rows and {clean_df.shape[1]} columns')

Loan ID                         0
Customer ID                     0
Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Annual Income                   0
Years in current job            0
Home Ownership                  0
Purpose                         0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64


This data now contains 26085 rows and 19 columns

In [18]:
print('Finding unique values in each column')
for i in clean_df.columns[:]:
  print("-"*75)
  print("# of unique values of ",i," column :", clean_df[i].nunique())
  print("unique values:")
  print(clean_df[i].unique())

Finding unique values in each column
---------------------------------------------------------------------------
# of unique values of  Loan ID  column : 24321
unique values:
['4eed4e6a-aa2f-4c91-8651-ce984ee8fb26'
 '273581de-85d8-4332-81a5-19b04ce68666'
 '8af915d9-9e91-44a0-b5a2-564a45c12089' ...
 '8506a4e9-af7d-47d2-a1bf-7ea2c41858f0'
 '06eba04f-58fc-424a-b666-ed72aa008900'
 'e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7']
---------------------------------------------------------------------------
# of unique values of  Customer ID  column : 24321
unique values:
['5efb2b2b-bf11-4dfd-a572-3761a2694725'
 '90a75dde-34d5-419c-90dc-1e58b04b3e35'
 'af534dea-d27e-4fd6-9de8-efaa52a78ec0' ...
 'be67200e-1ef1-4b63-86a6-2bf27d3c704d'
 '77f2252a-b7d1-4b07-a746-1202a8304290'
 '2ced5f10-bd60-4a11-9134-cadce4e7b0a3']
---------------------------------------------------------------------------
# of unique values of  Loan Status  column : 2
unique values:
['Fully Paid' 'Charged Off']
---------------------------------------------------------------------------
# of unique values of  Current Loan Amount  column : 12193
unique values:
[99999999.   217646.   548746. ...   486046.   274076.   210584.]
---------------------------------------------------------------------------
# of unique values of  Term  column : 2
unique values:
['Short Term' 'Long Term']
---------------------------------------------------------------------------
# of unique values of  Credit Score  column : 316
unique values:
[ 741.  730.  678.  728.  740.  727.  687.  746.  682.  737. 6610.  652.
  736.  747.  644.  720.  699.  714.  734.  742.  705.  748. 6240.  712.
  745.  723.  719.  718.  676. 7210.  709.  732.  686.  637.  743.  697.
  726. 7500.  716. 7020.  710.  689.  685.  707.  738.  733.  700. 7080.
  724.  750.  735.  721.  681.  693.  696.  739.  725. 7160.  647.  704.
  729.  670.  639.  671.  749.  744.  731. 7060.  703.  722. 7200.  653.
  666.  751.  711.  680. 7450. 7300.  664. 7170.  691.  646.  713.  612.
  654.  688. 7190. 7410.  702. 6690. 6750.  668.  641. 7290. 7460.  698.
  701.  683.  674. 7010. 6530.  630. 7000.  638.  717.  673.  708.  667.
  715. 7420. 6810.  614. 7070. 7390.  684.  706. 7490.  692. 6580. 6800.
 7110.  679.  661. 7130.  633.  677. 5860.  615.  648.  675. 7150.  657.
 7040. 6830. 6360.  625. 7260.  603. 7140.  694. 7320. 7280.  656.  627.
 7180. 7270. 7360. 6090. 6740.  645. 7090. 6550.  618.  672.  663.  655.
 6840.  669. 6760. 6860. 6870. 6680.  621.  616.  600. 7310. 6460. 6500.
 7250.  594.  660.  665. 6100.  690.  619. 6960.  643. 7400. 7380. 6430.
  635.  695.  606. 7330.  623. 7230.  642. 7430. 6820. 7100.  636. 7370.
  651. 6150. 7240.  613. 6710. 6570.  609. 6730.  662.  596.  658.  597.
 6780. 6470. 6520.  632.  628.  640. 6940.  608. 7220. 7340. 7030.  631.
 6980.  605. 7470. 6950. 6720. 6990. 6770.  620. 7440. 6650. 7120. 6970.
 6390.  598. 6600.  659.  649. 6480. 6250.  622. 6630. 6890.  591.  617.
  650. 7350. 7480. 6200. 6450.  624. 6110. 7050. 6910. 6010.  599. 6930.
 6850.  634.  607. 6590.  626. 6670. 6410. 6490. 6510.  611. 5850. 6300.
 6790.  595. 6330.  601.  604. 6340. 6660. 7510. 6900. 6160. 6260. 6420.
  610. 5900. 6880.  585. 6320. 6120. 6280. 6380. 6180. 5920.  602. 5940.
 6540.  587.  588. 6400.  629. 6170. 6230. 6070. 6700.  592. 6560.  589.
  593. 6350. 6220. 6920. 6640. 6440. 6370. 6190.  590. 6270. 5930. 6620.
 5950. 6060. 6310. 6290.]
---------------------------------------------------------------------------
# of unique values of  Annual Income  column : 17856
unique values:
[2231892. 1184194. 2559110. ...  709650. 1190046. 1289416.]
---------------------------------------------------------------------------
# of unique values of  Years in current job  column : 11
unique values:
['8 years' '< 1 year' '2 years' '3 years' '10+ years' '7 years' '5 years'
 '6 years' '1 year' '4 years' '9 years']
---------------------------------------------------------------------------
# of unique values of  Home Ownership  column : 4
unique values:
['Own Home' 'Home Mortgage' 'Rent' 'HaveMortgage']
---------------------------------------------------------------------------
# of unique values of  Purpose  column : 16
unique values:
['Debt Consolidation' 'other' 'Home Improvements' 'Buy House' 'Other'
 'wedding' 'Business Loan' 'Take a Trip' 'major_purchase' 'Buy a Car'
 'Medical Bills' 'vacation' 'small_business' 'moving'
 'Educational Expenses' 'renewable_energy']
---------------------------------------------------------------------------
# of unique values of  Monthly Debt  column : 22671
unique values:
[29200.53 10855.08 18660.28 ... 24259.39 11969.81  7315.57]
---------------------------------------------------------------------------
# of unique values of  Years of Credit History  column : 445
unique values:
[14.9 19.6 22.6 16.   8.5 24.7 17.4 20.  16.6 18.6 17.  36.6 40.8 15.4
 16.1 18.3 31.5 15.1 25.6 10.5 44.5 27.4 20.4 18.  14.2 13.  23.3 19.5
 20.5 15.  13.6 13.9 10.7 23.4  9.5 34.4 18.4 14.3 50.1 14.7 13.5 43.3
 12.  23.  18.2 13.8 14.1  7.1 13.4 16.5 36.3 14.  17.1 11.9 11.1 17.2
 11.7 18.5 17.6 15.9 18.8 11.4 21.2 20.8 15.7 20.6 20.7 19.  19.9 17.8
 22.8 26.5 24.1 12.5 17.9 14.8 23.8 13.7 22.5 12.8 12.9 21.  23.9 10.6
 28.4 21.9 32.5 35.6 21.8 28.9 22.  26.4 15.5 27.  12.2 10.   8.2 14.5
 33.5 22.4 21.7 21.4 18.1 16.2 38.3 24.  21.1 31.3 25.  15.8  9.6 14.6
 10.9 17.7 21.5 16.9 31.8 16.8 19.4 31.7 25.2 34.2 24.5 18.9 29.2 32.6
 17.5 27.9 23.1 23.5  9.4 26.3 16.7 27.8 11.  13.3 17.3 24.6  9.7  7.9
 16.4 11.8  6.4 26.1 22.2 25.5 15.6 19.3 14.4 22.1 26.9  8.7 21.3 10.8
 27.1 15.2 19.7 33.4 30.5 32.7 12.3 29.  28.8 30.  29.9 12.1 13.1 22.7
 10.4 36.  34.5  7.4 25.9 19.2 18.7  9.1  9.9 20.9 29.1 31.  25.7 38.8
 30.9 29.7 30.3 20.1 19.8 10.1 28.  27.2  8.  25.8 11.3 12.7 24.9  9.8
 32.4 30.2 13.2 37.1 28.1 21.6 12.4 23.2 16.3 20.2 23.6 46.9 10.2 38.7
 24.8 26.6 15.3 31.2 28.6 31.9 32.2 35.4 35.  28.7  6.9 12.6 25.4 35.2
 30.4 33.  22.3 26.  22.9 35.8 31.6 29.4 19.1 27.7 40.7  8.1 25.3 10.3
 29.6 32.3 38.1 38.5 11.2 25.1 41.  28.5 32.1 43.2  7.8 26.7 28.3 35.5
 30.6 27.5 29.8  7.7 23.7 27.3  5.8 32.9 43.9 33.6 30.8 28.2  9.3  8.9
 44.6 20.3 26.2 36.5 36.2 24.2  5.  34.8 35.3 24.4 30.1 32.8  9.2 29.3
 11.5 31.4 27.6 37.3  7.  24.3  9.  43.5  8.8  6.5 34.1 30.7 37.  39.4
 38.9 40.  37.5 33.2 40.6 41.1 39.  33.1 34.6 29.5  8.3 33.9 36.8 34.
 34.3 39.3 41.5 43.4 41.3 33.3 44.4 46.7  5.4 35.9 36.1  6.6 26.8  6.
 38.6  8.6 33.7 33.8 56.5 37.2 48.9 38.2 41.8 11.6  6.7 45.6 65.  39.5
 32.  54.   7.3 39.8 46.2 31.1 40.5 41.7 46.   6.2 45.8 45.  43.   5.9
  8.4 37.4 41.4  5.5 37.7  5.7  7.6 40.9 36.9 39.7 37.6 34.9 45.1 37.8
  6.8 42.8 37.9 40.4 40.1 38.  39.9  6.3 49.9 70.5 36.4 42.4 52.6 47.4
 38.4 44.1 43.7 42.3 39.1 51.8 50.3 35.1 45.3  3.8 48.3 35.7 42.1  7.5
 39.6  4.7 42.9 44.  39.2 40.3 41.9 42.5 34.7 44.2 48.  47.  58.  49.3
 44.8 47.8 49.5 42.   5.3 40.2  5.2  4.3 41.6 50.5 46.5 45.4 36.7 46.1
 52.9  7.2  6.1 51.7 47.6 43.8 41.2 46.3 45.2 42.6 50.6 46.6 50.4  5.6
 52.  48.2 52.5 57.5 49.2 43.6 46.8 49.8  5.1  4.8 45.5]
---------------------------------------------------------------------------
# of unique values of  Months since last delinquent  column : 106
unique values:
[ 29.  10.  33.  76.  25.  46.  53.  32.  50.  13.  48.  42.  35.   7.
  30.  17.  11.  54.  24.  31.  19.  65.  73.  15.  77.   9.  80.  38.
  47.   6.  82.  74.  75.  61.  70.  79.  62.  56.  27.  39.  59.  58.
  45.  16.  36.   8.  41.  49.  60.  21.  37.  26.  20.  51.  55.  63.
  14.  43.  18.  64.  40.  22.  12.  34.  52.  72.  69.   4.  81.   3.
   1.  57.  68.  71.   5.  44.  23.   2.  28.  78.  67.  66.   0.  89.
 118.  83. 152. 120.  86.  88.  94.  85.  93. 106.  90. 108.  84. 143.
  92. 114.  91.  87. 100. 141.  96. 131.]
---------------------------------------------------------------------------
# of unique values of  Number of Open Accounts  column : 45
unique values:
[18. 13.  4. 16.  6. 10. 17.  8. 11.  9. 12. 19. 14.  5. 15. 32. 22. 20.
  7. 25. 23. 30. 27. 26. 28. 21. 24.  3. 29.  2. 33. 31. 40. 38. 37.  1.
 34. 35. 47. 39. 36. 45. 42. 43. 41.]
---------------------------------------------------------------------------
# of unique values of  Number of Credit Problems  column : 11
unique values:
[ 1.  0.  5.  2.  3.  4.  7.  6. 15.  8.  9.]
---------------------------------------------------------------------------
# of unique values of  Current Credit Balance  column : 16389
unique values:
[2.97996e+05 1.22170e+05 4.37171e+05 ... 8.50820e+05 4.56000e+02
 1.53045e+05]
---------------------------------------------------------------------------
# of unique values of  Maximum Open Credit  column : 19180
unique values:
[750090. 272052. 555038. ... 134442. 259160. 537548.]
---------------------------------------------------------------------------
# of unique values of  Bankruptcies  column : 7
unique values:
[0. 1. 2. 4. 3. 7. 5.]
---------------------------------------------------------------------------
# of unique values of  Tax Liens  column : 10
unique values:
[ 0.  1.  3.  2.  6.  5.  4. 15.  7.  9.]

In [6]:
df.to_csv("DA_df.csv", encoding='utf-8')
df.info()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
6,273581de-85d8-4332-81a5-19b04ce68666,90a75dde-34d5-419c-90dc-1e58b04b3e35,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,10855.08,19.6,10.0,13.0,1.0,122170.0,272052.0,1.0,0.0
8,8af915d9-9e91-44a0-b5a2-564a45c12089,af534dea-d27e-4fd6-9de8-efaa52a78ec0,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,Rent,Debt Consolidation,18660.28,22.6,33.0,4.0,0.0,437171.0,555038.0,0.0,0.0
10,32c2e48f-1ba8-45e0-a530-9a6622c18d9c,0de7bcdb-ebf4-4608-ba39-05f083f855b6,Fully Paid,99999999.0,Short Term,728.0,714628.0,3 years,Rent,Debt Consolidation,11851.06,16.0,76.0,16.0,0.0,203965.0,289784.0,0.0,0.0
12,403d7235-0284-4bb6-919a-09402fecbf7b,11581f68-de3c-49d8-80d9-22268ebb323b,Fully Paid,99999999.0,Short Term,740.0,776188.0,< 1 year,Own Home,Debt Consolidation,11578.22,8.5,25.0,6.0,0.0,134083.0,220220.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99990,686017b3-dc24-4f8a-af92-0bd077452d3d,1a583add-21ba-410f-9c42-757c4ed19322,Fully Paid,99999999.0,Short Term,742.0,1190046.0,< 1 year,Rent,other,11969.81,20.1,16.0,9.0,0.0,37392.0,134442.0,0.0,0.0
99993,79b81158-5d55-4766-8ad6-ebcd683f7d59,e45e8dc4-05ad-4efe-92cc-784a6d5ef61a,Fully Paid,44484.0,Short Term,717.0,1152426.0,10+ years,Home Mortgage,small_business,6280.64,21.0,12.0,6.0,0.0,961932.0,0.0,0.0,0.0
99994,8506a4e9-af7d-47d2-a1bf-7ea2c41858f0,be67200e-1ef1-4b63-86a6-2bf27d3c704d,Fully Paid,210584.0,Short Term,719.0,783389.0,1 year,Home Mortgage,Other,3727.61,17.4,18.0,6.0,0.0,456.0,259160.0,0.0,0.0
99996,06eba04f-58fc-424a-b666-ed72aa008900,77f2252a-b7d1-4b07-a746-1202a8304290,Fully Paid,99999999.0,Short Term,732.0,1289416.0,1 year,Rent,Debt Consolidation,13109.05,9.4,21.0,22.0,0.0,153045.0,509234.0,0.0,0.0
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,2ced5f10-bd60-4a11-9134-cadce4e7b0a3,Fully Paid,103136.0,Short Term,742.0,1150545.0,6 years,Rent,Debt Consolidation,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,1.0,0.0

In [19]:
clean_df.to_csv("Resources/cleaned_m160.csv", encoding='utf-8')
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26085 entries, 2 to 99997
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       26085 non-null  object
 1   Customer ID                   26085 non-null  object
 2   Loan Status                   26085 non-null  object
 3   Current Loan Amount           26085 non-null  float64
 4   Term                          26085 non-null  object
 5   Credit Score                  26085 non-null  float64
 6   Annual Income                 26085 non-null  float64
 7   Years in current job          26085 non-null  object
 8   Home Ownership                26085 non-null  object
 9   Purpose                       26085 non-null  object
 10  Monthly Debt                  26085 non-null  float64
 11  Years of Credit History       26085 non-null  float64
 12  Months since last delinquent  26085 non-null  float64
 13  Number of Open Accounts       26085 non-null  float64
 14  Number of Credit Problems     26085 non-null  float64
 15  Current Credit Balance        26085 non-null  float64
 16  Maximum Open Credit           26085 non-null  float64
 17  Bankruptcies                  26085 non-null  float64
 18  Tax Liens                     26085 non-null  float64
dtypes: float64(12), object(7)
memory usage: 4.0+ MB