In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df = pd.read_csv('Resources/m160-hw-dataset.csv',encoding = 'utf-8')
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [29]:
#Checking the null values
null_value_rows = df[df.isnull().any(axis = 1)]
print(f'There are total of {len(null_value_rows)} rows with a null value in the dataset')
df.isnull().sum()

There are total of 64091 rows with a null value in the dataset

Loan ID                           514
Customer ID                       514
Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [30]:
#Dropping the null values
clean_df = df.dropna()

#Checking the remaining null values
print(clean_df.isnull().sum())
print('\n')

#Checking the size of the data
print(f'This data now contains {clean_df.shape[0]} rows and {clean_df.shape[1]} columns')

Loan ID                         0
Customer ID                     0
Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Annual Income                   0
Years in current job            0
Home Ownership                  0
Purpose                         0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64


This data now contains 36423 rows and 19 columns

In [31]:
print('Finding unique values in each column')
for i in clean_df.columns[:]:
  print("-"*75)
  print("# of unique values of ",i," column :", clean_df[i].nunique())
  print("unique values:")
  print(clean_df[i].unique())

Finding unique values in each column
---------------------------------------------------------------------------
# of unique values of  Loan ID  column : 29490
unique values:
['4eed4e6a-aa2f-4c91-8651-ce984ee8fb26'
 '273581de-85d8-4332-81a5-19b04ce68666'
 '8af915d9-9e91-44a0-b5a2-564a45c12089' ...
 '8506a4e9-af7d-47d2-a1bf-7ea2c41858f0'
 '06eba04f-58fc-424a-b666-ed72aa008900'
 'e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7']
---------------------------------------------------------------------------
# of unique values of  Customer ID  column : 29490
unique values:
['5efb2b2b-bf11-4dfd-a572-3761a2694725'
 '90a75dde-34d5-419c-90dc-1e58b04b3e35'
 'af534dea-d27e-4fd6-9de8-efaa52a78ec0' ...
 'be67200e-1ef1-4b63-86a6-2bf27d3c704d'
 '77f2252a-b7d1-4b07-a746-1202a8304290'
 '2ced5f10-bd60-4a11-9134-cadce4e7b0a3']
---------------------------------------------------------------------------
# of unique values of  Loan Status  column : 2
unique values:
['Fully Paid' 'Charged Off']
---------------------------------------------------------------------------
# of unique values of  Current Loan Amount  column : 13914
unique values:
[9.9999999e+07 2.1764600e+05 5.4874600e+05 ... 9.0398000e+04 4.8604600e+05
 2.7407600e+05]
---------------------------------------------------------------------------
# of unique values of  Term  column : 2
unique values:
['Short Term' 'Long Term']
---------------------------------------------------------------------------
# of unique values of  Credit Score  column : 316
unique values:
[ 741.  730.  678.  728.  740.  727.  723.  687.  688.  746.  718.  682.
  680.  737. 6610.  652.  736.  747.  721.  644.  672.  699.  694.  720.
  657.  714.  734.  742.  705.  748. 6240.  712.  745.  717.  722.  719.
  676. 7210.  709.  732.  649.  686.  637.  743.  697.  706.  715.  726.
 7500.  716. 7020.  651.  710.  698.  689.  685.  703.  707.  738.  691.
  733.  700. 7080.  724.  750.  695.  735.  674.  681.  725.  693.  696.
  739. 7160.  618.  647.  704.  729.  683.  670.  639.  671.  749.  744.
  731. 7060.  615. 7200.  653.  666.  751.  711. 7450. 7300.  664.  636.
  713. 7170.  646.  614.  692.  612.  654. 7190. 7410.  702. 6690. 6750.
  668.  641. 7290. 7460.  701.  708.  677. 7010. 6530.  690.  630. 7000.
  656.  663.  638.  673.  667. 7420.  684. 6810. 7070. 7390. 7490. 6580.
  655. 6800. 7110.  679.  661. 7130.  633. 5860.  648.  675. 7150. 7040.
 6830. 6360.  625. 7260.  662.  603. 7140.  660. 7320. 7280.  627. 7180.
 7270. 7360. 6090. 6740.  645. 7090. 6550.  640. 6840.  632.  669. 6760.
 6860. 6870. 6680.  621.  616.  600. 7310. 6460. 6500. 7250.  594.  665.
 6100.  619. 6960.  643.  635. 7400.  659. 7380. 6430.  628.  596.  606.
 7330.  623. 7230.  642. 7430. 6820. 7100. 7370. 6150. 7240.  613. 6710.
 6570.  609. 6730.  650.  658.  597. 6780. 6470. 6520. 6940.  608. 7220.
 7340. 7030.  631. 6980.  605. 7470. 6950.  611. 6720. 6990. 6770.  620.
  622. 7440. 6650. 7120. 6970. 6390.  624.  598.  590. 6600.  602. 6480.
 6250. 6630. 6890.  591.  617. 7350.  626. 7480. 6200. 6450.  610. 6110.
 7050. 6910. 6010.  588.  599. 6930.  634. 6850.  595.  607.  601. 6590.
 6670. 6410. 6490. 6510. 5850. 6300. 6790. 6330.  604. 6340. 6660. 7510.
 6900.  585. 6160. 6260. 6420.  629. 5900. 6880. 6320. 6120. 6280.  593.
 6380. 6180. 5920. 5940. 6540.  587. 6400. 6170. 6230. 6070. 6700.  592.
 6560.  589. 6350. 6220. 6920. 6640. 6440. 6370. 6190. 6270. 5930. 6620.
 5950. 6060. 6310. 6290.]
---------------------------------------------------------------------------
# of unique values of  Annual Income  column : 20645
unique values:
[2231892. 1184194. 2559110. ... 1141824. 1190046. 1289416.]
---------------------------------------------------------------------------
# of unique values of  Years in current job  column : 11
unique values:
['8 years' '< 1 year' '2 years' '3 years' '10+ years' '4 years' '6 years'
 '7 years' '5 years' '1 year' '9 years']
---------------------------------------------------------------------------
# of unique values of  Home Ownership  column : 4
unique values:
['Own Home' 'Home Mortgage' 'Rent' 'HaveMortgage']
---------------------------------------------------------------------------
# of unique values of  Purpose  column : 16
unique values:
['Debt Consolidation' 'Buy House' 'other' 'Take a Trip'
 'Home Improvements' 'Other' 'Buy a Car' 'Medical Bills' 'wedding'
 'Business Loan' 'small_business' 'major_purchase' 'vacation'
 'Educational Expenses' 'moving' 'renewable_energy']
---------------------------------------------------------------------------
# of unique values of  Monthly Debt  column : 27103
unique values:
[29200.53 10855.08 18660.28 ... 24259.39 11969.81  7315.57]
---------------------------------------------------------------------------
# of unique values of  Years of Credit History  column : 452
unique values:
[14.9 19.6 22.6 16.   8.5 24.7 22.  17.4 22.3 20.  28.8 16.6 14.5 19.4
 18.6 17.  36.6 40.8 15.4 16.1 15.  18.3 12.  31.5 14.  18.  15.1 25.6
 21.5 10.5 44.5 27.4 20.4 14.2 13.  23.3 10.  19.5 17.9 20.5 13.6 13.9
 13.4 10.7 23.4  9.5 15.7 34.4 18.4 14.3 50.1 13.2 23.9 14.7 13.5 43.3
 23.  29.2 18.2 13.8 30.5 14.1  7.1 14.6 16.5 36.3 30.9 17.1 11.9 11.1
 17.2 11.7 18.5 15.9  8.7 21.3 17.6 33.7 18.8 11.4 15.3 21.2 20.8 20.6
 20.7 19.  16.3 19.9 17.8 22.8 26.5 24.1 12.5 30.6 12.8 14.8 23.8 15.6
 13.7 25.5 22.5 21.6 12.9 18.1 11.3 17.5  9.8 21.  10.6 28.4 21.9 16.2
 32.5  8.8 26.  35.6 21.8 28.9 38.  26.4 15.5 27.  12.2  8.2 33.5 22.4
 21.7 21.4 19.1 38.3 24.  21.1 31.3 29.8 25.  15.8  9.6 10.9 17.7 16.9
 31.8 16.8 31.7 25.2 34.2 24.5 18.9 32.6 27.9 23.1 12.6 23.5  9.4 26.3
 16.7 27.8 11.  13.3 17.3 24.6  9.7  7.9 16.4  8.4 11.8  6.4 26.1 22.2
 28.1 31.2 19.3 14.4 25.8 20.3 12.1 22.1 26.9  9.9 22.9 29.9 12.3 10.8
 27.1 15.2 19.7 33.4 32.7 29.  39.4 30.  13.1 20.2 22.7 10.4 36.  29.3
 34.5  7.4 25.9 19.2 18.7  8.1  9.1 32.2 20.9 29.1 31.   6.  25.7 38.8
 29.7 30.3 20.1 27.5 19.8 10.1 28.  12.4 27.2  8.  12.7 24.9 32.4 30.2
 37.1 24.3 23.2 23.6 46.9 10.2 38.7 24.8 26.6 28.6 31.9 35.4 35.  30.7
 28.7  6.9 25.4 35.2 30.4 33.  35.8  6.3 31.6 30.1 29.4 26.7 27.7 40.7
 25.3 10.3  8.3 34.7 29.6 32.  32.3 32.9 42.8 38.1 42.  38.5 11.2 25.1
 26.2 41.  29.5 28.5 32.1 43.2  7.8 28.3 26.8 35.5  7.7 23.7 27.3 30.8
  5.8 31.1 43.9 33.3  9.2 33.6 24.4 28.2  9.3  8.9 46.1 44.6 11.5 24.2
  9.  36.5 36.2  5.   4.4 34.8 35.3  6.7 32.8 31.4 27.6 37.3  7.  43.5
  7.6 39.   6.5 34.1 37.  38.9 40.  37.5 33.2 40.6 35.7 41.1 33.1 34.6
 33.8  5.5 33.9 36.8 34.  34.3 39.3 41.8 41.5 43.4 41.3 46.5 37.9 44.4
 46.7  5.4 36.1 35.9 36.7  7.5  6.6  4.1  5.9  5.7 39.8 38.6  8.6 56.5
 37.2 48.9 38.2 11.6  6.8 45.6 65.  40.5 39.5 40.2 44.3 54.   7.3 46.2
 41.7 46.   6.2 45.8 37.4 45.  43.  36.9 41.4 37.7 42.1 40.9 39.1 39.7
 37.6 34.9 45.1 35.1 37.8 40.4 40.1 39.9 49.9 70.5 36.4 56.8 39.2 42.4
 52.6 47.4 38.4  6.1 44.1 43.7 42.3 51.8 50.3  5.3 45.3  3.8 48.3 39.6
  4.7  5.6 42.9 44.  42.5 45.2 47.7 40.3 41.9 44.2 48.  47.  58.  49.3
 44.8 47.8 49.5 50.4  5.2  4.3 41.6 50.5 45.4 52.5 52.9  7.2 51.7 47.6
 43.8 41.2 46.3 53.1 42.6 50.6 46.6 46.4 52.  48.2 57.5 49.2 43.6 46.8
 49.8  5.1  4.8 45.5]
---------------------------------------------------------------------------
# of unique values of  Months since last delinquent  column : 108
unique values:
[ 29.  10.  33.  76.  25.  46.  34.  53.  30.  32.  21.  50.  15.   6.
  13.  48.  42.  35.   7.  27.   5.  17.  72.  65.   4.  11.  54.  24.
  31.  19.  73.  77.  18.   9.  80.  70.  38.  47.  82.  74.  16.  75.
  61.  79.  62.  56.  64.  36.  39.  59.  55.  58.  68.  22.  45.  14.
   8.  41.  49.   1.  60.  81.  37.  26.  20.  51.  63.  71.  43.  69.
  40.  12.  52.   3.  23.  57.  78.  44.   2.  28.  67.  66.   0.  89.
 118.  83. 152. 120.  86.  88.  94.  85.  93.  97. 106.  90. 176. 108.
  84. 143.  92. 114.  91.  87. 100. 141.  96. 131.]
---------------------------------------------------------------------------
# of unique values of  Number of Open Accounts  column : 46
unique values:
[18. 13.  4. 16.  6. 10. 15.  7. 17. 14.  8. 11. 34.  9. 12. 19.  5. 32.
 22. 20.  3. 24. 25. 23. 30. 27. 26. 28. 21. 29.  2. 33. 38. 31. 40. 48.
 37.  1. 45. 35. 47. 39. 36. 42. 43. 41.]
---------------------------------------------------------------------------
# of unique values of  Number of Credit Problems  column : 11
unique values:
[ 1.  0.  5.  2.  3.  4.  6.  7. 15.  8.  9.]
---------------------------------------------------------------------------
# of unique values of  Current Credit Balance  column : 18486
unique values:
[2.97996e+05 1.22170e+05 4.37171e+05 ... 8.50820e+05 4.56000e+02
 1.53045e+05]
---------------------------------------------------------------------------
# of unique values of  Maximum Open Credit  column : 22109
unique values:
[ 750090.  272052.  555038. ... 1287792.  134442.  537548.]
---------------------------------------------------------------------------
# of unique values of  Bankruptcies  column : 8
unique values:
[0. 1. 2. 4. 3. 7. 6. 5.]
---------------------------------------------------------------------------
# of unique values of  Tax Liens  column : 10
unique values:
[ 0.  1.  3.  2.  6.  5.  4. 15.  7.  9.]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  float64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  float64
 14  Number of Credit Problems     100000 non-null  float64
 15  Current Credit Balance        100000 non-null  float64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

In [33]:
# Using .loc to ensure we are modifying the DataFrame correctly
clean_df.loc[:, 'Loan Status'] = clean_df['Loan Status'].str.lower().str.strip().replace({
    'fully paid': 'Fully Paid', 
    'charged off': 'Charged Off'
})

In [34]:
clean_df.loc[:, 'Term'] = clean_df['Term'].str.lower().str.strip().replace({
    'short term': 'Short Term', 
    'long term': 'Long Term'
})

In [35]:
# Check the distribution of 'Loan Status'
loan_status_distribution = clean_df['Loan Status'].value_counts()
print("Loan Status Distribution:\n", loan_status_distribution)

Loan Status Distribution:
 Loan Status
Fully Paid     28972
Charged Off     7451
Name: count, dtype: int64

In [36]:
# Check the distribution of 'Term'
term_distribution = clean_df['Term'].value_counts()
print("Term Distribution:\n", term_distribution)

Term Distribution:
 Term
Short Term    25855
Long Term     10568
Name: count, dtype: int64

In [37]:
# Define mapping for Loan Status
loan_status_map = {'Fully Paid': 1, 'Charged Off': 0}

In [38]:
# Define mapping for Term
term_map = {'Short Term': 1, 'Long Term': 0}

In [39]:
# Apply mapping to create new numerical columns using .loc
clean_df.loc[:, 'Loan Status Numerical'] = clean_df['Loan Status'].map(loan_status_map)
clean_df.loc[:, 'Term Numerical'] = clean_df['Term'].map(term_map)

C:\Users\omidk\AppData\Local\Temp\ipykernel_25420\3077055371.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.loc[:, 'Loan Status Numerical'] = clean_df['Loan Status'].map(loan_status_map)
C:\Users\omidk\AppData\Local\Temp\ipykernel_25420\3077055371.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.loc[:, 'Term Numerical'] = clean_df['Term'].map(term_map)

In [40]:
clean_df.head(20)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,...,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Loan Status Numerical,Term Numerical
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,...,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0,1,1
6,273581de-85d8-4332-81a5-19b04ce68666,90a75dde-34d5-419c-90dc-1e58b04b3e35,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,...,19.6,10.0,13.0,1.0,122170.0,272052.0,1.0,0.0,1,1
8,8af915d9-9e91-44a0-b5a2-564a45c12089,af534dea-d27e-4fd6-9de8-efaa52a78ec0,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,Rent,Debt Consolidation,...,22.6,33.0,4.0,0.0,437171.0,555038.0,0.0,0.0,1,1
10,32c2e48f-1ba8-45e0-a530-9a6622c18d9c,0de7bcdb-ebf4-4608-ba39-05f083f855b6,Fully Paid,99999999.0,Short Term,728.0,714628.0,3 years,Rent,Debt Consolidation,...,16.0,76.0,16.0,0.0,203965.0,289784.0,0.0,0.0,1,1
12,403d7235-0284-4bb6-919a-09402fecbf7b,11581f68-de3c-49d8-80d9-22268ebb323b,Fully Paid,99999999.0,Short Term,740.0,776188.0,< 1 year,Own Home,Debt Consolidation,...,8.5,25.0,6.0,0.0,134083.0,220220.0,0.0,0.0,1,1
14,2e841c8f-3dc1-464d-91c1-3d3d51e64c38,2ac05980-7848-4692-89ae-9321afe650f8,Fully Paid,234124.0,Short Term,727.0,693234.0,10+ years,Rent,Debt Consolidation,...,24.7,46.0,10.0,1.0,28291.0,107052.0,1.0,0.0,1,1
17,24e8c8bd-d10b-4dac-8b81-1da470ff5ecb,967e8733-7189-49b7-a3ab-6a1d0e1abdac,Fully Paid,666204.0,Long Term,723.0,1821967.0,10+ years,Home Mortgage,Debt Consolidation,...,22.0,34.0,15.0,0.0,813694.0,2004618.0,0.0,0.0,1,0
20,150ebbad-ebed-441e-b70d-2f350ad7dca6,40f729c9-54c7-4768-9fb5-2fa41d074c48,Charged Off,317108.0,Long Term,687.0,1133274.0,8 years,Rent,Debt Consolidation,...,17.4,53.0,4.0,0.0,60287.0,126940.0,0.0,0.0,0,0
25,578c8e10-3214-4491-bdbc-b1695ef8ff87,cbe53e22-ba67-4eaf-a4fb-c5acdd12ec66,Fully Paid,465410.0,Long Term,688.0,1722654.0,3 years,Rent,Buy House,...,22.3,30.0,7.0,0.0,107559.0,488356.0,0.0,0.0,1,0
28,ccc6dadf-7530-4ca6-a679-a228ae478b5d,689da294-ff83-4d49-986a-c61887f6d4e2,Fully Paid,99999999.0,Short Term,746.0,1749748.0,10+ years,Home Mortgage,Debt Consolidation,...,20.0,32.0,17.0,0.0,224390.0,295240.0,0.0,0.0,1,1
39,f7db4043-3607-46fe-a421-edf3281eed7c,f7581a72-d073-48a3-934f-14bdfae93691,Fully Paid,449108.0,Short Term,718.0,1454507.0,8 years,Home Mortgage,Debt Consolidation,...,28.8,21.0,14.0,0.0,193990.0,458414.0,0.0,0.0,1,1
40,21d019a9-dc53-40e9-9c88-1ec3378283fe,64560eb4-f50d-4f14-8a86-b46c0381bef2,Charged Off,688468.0,Long Term,682.0,1494616.0,< 1 year,Rent,Debt Consolidation,...,16.6,50.0,8.0,0.0,343995.0,843854.0,0.0,0.0,0,0
44,93d2f093-833c-42a3-8879-05ab3bd73951,c5a714bb-75c6-4264-a807-8a35bb12ce7d,Fully Paid,311762.0,Long Term,680.0,2211657.0,4 years,Home Mortgage,Debt Consolidation,...,14.5,15.0,11.0,0.0,213921.0,509652.0,0.0,0.0,1,0
46,2e30d6ea-3157-4537-99d9-f580eeaae1d5,5d71bb9d-ce8b-499d-91bf-3df92426430d,Fully Paid,129712.0,Short Term,723.0,1465698.0,10+ years,Own Home,Debt Consolidation,...,19.4,6.0,34.0,1.0,45106.0,163218.0,0.0,0.0,1,1
47,f6f70cfd-5100-4e63-b3c5-fa602ed29e95,24f6b0cb-17bd-4931-8cc9-b957f20efea5,Fully Paid,287980.0,Short Term,737.0,1013954.0,< 1 year,Home Mortgage,Debt Consolidation,...,18.6,13.0,11.0,0.0,223117.0,489302.0,0.0,0.0,1,1
51,0daecc08-0354-4753-b282-52124b2420df,2884d362-391a-4941-af69-c825cae18002,Charged Off,219692.0,Long Term,6610.0,527839.0,10+ years,Rent,Debt Consolidation,...,17.0,48.0,9.0,0.0,254277.0,379918.0,0.0,0.0,0,0
53,4ead58f0-0383-441a-b93d-a00c6baa74aa,41988ec9-7368-42a3-bc2f-9882fb3779f6,Charged Off,374176.0,Long Term,652.0,1239199.0,10+ years,Home Mortgage,other,...,36.6,42.0,10.0,0.0,126350.0,415602.0,0.0,0.0,0,0
54,72322924-6242-4503-871f-501870761c91,82b6502d-b24e-43d7-baf5-5624e566bfe3,Fully Paid,99999999.0,Long Term,730.0,2509520.0,10+ years,Home Mortgage,Debt Consolidation,...,40.8,35.0,12.0,0.0,733324.0,1035496.0,0.0,0.0,1,0
55,a4b4920d-48a4-424f-8386-1959f2f9ae86,48e551b4-6a6f-4450-bf3c-f0ee9bcb266e,Charged Off,176198.0,Short Term,736.0,1902090.0,10+ years,Home Mortgage,Debt Consolidation,...,15.4,7.0,9.0,0.0,206872.0,620554.0,0.0,0.0,0,1
58,4bcf4e06-60c7-4849-8c70-ada382fef5bb,0b25e0aa-3fe1-4540-8e6d-f6e579dfc84a,Fully Paid,130922.0,Short Term,747.0,2261304.0,2 years,Rent,Debt Consolidation,...,16.1,30.0,6.0,0.0,110428.0,235488.0,0.0,0.0,1,1

In [41]:
cleaned_data = clean_df[(clean_df['Current Loan Amount'] <= 1000000) & (clean_df['Credit Score'] <= 1000)]

In [42]:
cleaned_data.to_csv("Resources/cleaned_m160.csv", encoding='utf-8')
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29550 entries, 6 to 99997
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       29550 non-null  object
 1   Customer ID                   29550 non-null  object
 2   Loan Status                   29550 non-null  object
 3   Current Loan Amount           29550 non-null  float64
 4   Term                          29550 non-null  object
 5   Credit Score                  29550 non-null  float64
 6   Annual Income                 29550 non-null  float64
 7   Years in current job          29550 non-null  object
 8   Home Ownership                29550 non-null  object
 9   Purpose                       29550 non-null  object
 10  Monthly Debt                  29550 non-null  float64
 11  Years of Credit History       29550 non-null  float64
 12  Months since last delinquent  29550 non-null  float64
 13  Number of Open Accounts       29550 non-null  float64
 14  Number of Credit Problems     29550 non-null  float64
 15  Current Credit Balance        29550 non-null  float64
 16  Maximum Open Credit           29550 non-null  float64
 17  Bankruptcies                  29550 non-null  float64
 18  Tax Liens                     29550 non-null  float64
 19  Loan Status Numerical         29550 non-null  int64
 20  Term Numerical                29550 non-null  int64
dtypes: float64(12), int64(2), object(7)
memory usage: 5.0+ MB